*{
  margin: 0px;
  padding: 0px;
}
html{
  height: 100vh;
} 

body, #root, .App{
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:scroll;
  color: #20368f;
  background-color: #829CD0;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a{
  text-decoration: none;
  color: rgb(115, 232, 193);
  font-weight: 700;
}

#nav{
  width: 100%;
  background-color: #20368f;
  /* height: 10%; */
  height:80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navHome{
  font-size: x-large;
}

.er{
  color: ivory;
}

#meme-container{
 height: 50%;
}

#home h1,p,img{
  padding-top: 20px;
}

#meme{
  width: 30%;
  padding-bottom: 30px;
}

#index h1,h3, ul{
  margin-top: 20px;
}

#index{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  list-style: none;
}

#chart{
  width:max-content;
  display: grid;
  border: 2px solid #20368f;;
  /* color: ivory; */
  font-weight: 700;
  background-color: rgb(230, 230, 215);
  /* overflow: hidden; */  
}

.list-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li p{
  border: 1px solid #20368f;
}

#view{
  background-color: #20368f;
  border: 0px;
  padding: 5px;
  color: ivory;
  margin-top: 5px;
  margin-bottom: 5px;
}

.chart-title{
  font-size: larger;
  /* font-weight: 700;
  color: ivory; */
  color:#20368f;
}

.chart-title p{
  padding-bottom: 5px;
}

.positive{
  color: darkgreen
}

.negative{
  color: darkred;
}

#date{
  font-size: small;
}

#transaction-details{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#transaction-details div{
  width: 60%;
  /* height: 70%; */
  height: max-content;
  background-color: rgb(230, 230, 215);
}

.button{
  background-color: #20368f;
  border: 0px;
  padding: 5px;
  color: ivory;
  margin: 10px;
}

#transaction-amount{
  font-size: xx-large;
}

#transaction-card{
  display: grid;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form label{
  margin:5px;
}

form input{
  margin: 5px;
  height: 20px;
}

.submit{
  height: 30px
}

.header{
  margin: 20px;
}

#update, #new{
  width: 30%;
}



@media screen and (max-width: 1000px) {
  #meme{
    width: 45%
  }
  
}

@media screen and (max-width: 700px) {
  #meme{
    width: 70%
  }
  
}